/*公用的搜索框*/

.search-box {
    margin-top: 5px;
    margin-left: 1px;
}

.search-box .search-input {
    width: 300px;
}

.search-box .search-btn {
    margin-left: 10px;
}

/*控制表格图片*/

.public-items-imgaes {
    width: 50px;
    height: 50px;
}

.type-symbol {
    font-size: 14px;
}

/*不居中的添加输入框,而且短- -*/
.short-input{
    width:332px;
}
/*居中的短输入框*/
.public-sort-input {
    width: 50px;
    text-align: center;
}
/*下拉框*/

.search-box .select-box{
    width:200px;
}


@media (max-width: 767px){

    .form-horizontal .form-label {
        text-align: right;
    }
}