
.prive-input {
    margin-left: -5px;
    padding-left: 5px;
    width:300px;
}

.price {
    width: 30px;
    height: 32px;
    display: inline-block;
    background-color: #e7e7e7;
    text-align: center;
    line-height: 32px;
    color: #999;

}