<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gljr.jifen.dao.IntegralTransferOrderMapper">
  <resultMap id="BaseResultMap" type="com.gljr.jifen.pojo.IntegralTransferOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="g_uid" jdbcType="INTEGER" property="gUid" />
    <result column="trx_id" jdbcType="INTEGER" property="trxId" />
    <result column="trx_code" jdbcType="VARCHAR" property="trxCode" />
    <result column="dtchain_block_id" jdbcType="VARCHAR" property="dtchainBlockId"/>
    <result column="ext_order_id" jdbcType="VARCHAR" property="extOrderId"/>
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, g_uid, trx_id, trx_code, integral, title, status, create_time
  </sql>
  <select id="selectByExample" parameterType="com.gljr.jifen.pojo.IntegralTransferOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from integral_transfer_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from integral_transfer_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from integral_transfer_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gljr.jifen.pojo.IntegralTransferOrderExample">
    delete from integral_transfer_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gljr.jifen.pojo.IntegralTransferOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into integral_transfer_order (uid, g_uid, trx_id,
    trx_code, dtchain_block_id, ext_order_id, integral, title,
    status, create_time)
    values (#{uid,jdbcType=INTEGER}, #{gUid,jdbcType=INTEGER}, #{trxId,jdbcType=INTEGER},
    #{trxCode,jdbcType=VARCHAR}, #{dtchainBlockId,jdbcType=VARCHAR}, #{extOrderId,jdbcType=VARCHAR},
    #{integral,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
    #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gljr.jifen.pojo.IntegralTransferOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into integral_transfer_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="gUid != null">
        g_uid,
      </if>
      <if test="trxId != null">
        trx_id,
      </if>
      <if test="trxCode != null">
        trx_code,
      </if>
      <if test="dtchainBlockId != null">
        dtchain_block_id,
      </if>
      <if test="extOrderId != null">
        ext_order_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="gUid != null">
        #{gUid,jdbcType=INTEGER},
      </if>
      <if test="trxId != null">
        #{trxId,jdbcType=INTEGER},
      </if>
      <if test="trxCode != null">
        #{trxCode,jdbcType=VARCHAR},
      </if>
      <if test="dtchainBlockId != null">
        #{dtchainBlockId,jdbcType=VARCHAR},
      </if>
      <if test="extOrderId != null">
        #{extOrderId,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gljr.jifen.pojo.IntegralTransferOrderExample" resultType="java.lang.Long">
    select count(*) from integral_transfer_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update integral_transfer_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.gUid != null">
        g_uid = #{record.gUid,jdbcType=INTEGER},
      </if>
      <if test="record.trxId != null">
        trx_id = #{record.trxId,jdbcType=INTEGER},
      </if>
      <if test="record.trxCode != null">
        trx_code = #{record.trxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update integral_transfer_order
    set id = #{record.id,jdbcType=INTEGER},
    uid = #{record.uid,jdbcType=INTEGER},
    g_uid = #{record.gUid,jdbcType=INTEGER},
    trx_id = #{record.trxId,jdbcType=INTEGER},
    trx_code = #{record.trxCode,jdbcType=VARCHAR},
    integral = #{record.integral,jdbcType=INTEGER},
    title = #{record.title,jdbcType=VARCHAR},
    status = #{record.status,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gljr.jifen.pojo.IntegralTransferOrder">
    update integral_transfer_order
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="gUid != null">
        g_uid = #{gUid,jdbcType=INTEGER},
      </if>
      <if test="trxId != null">
        trx_id = #{trxId,jdbcType=INTEGER},
      </if>
      <if test="trxCode != null">
        trx_code = #{trxCode,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gljr.jifen.pojo.IntegralTransferOrder">
    update integral_transfer_order
    set uid = #{uid,jdbcType=INTEGER},
      g_uid = #{gUid,jdbcType=INTEGER},
      trx_id = #{trxId,jdbcType=INTEGER},
      trx_code = #{trxCode,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>