<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gljr.jifen.dao.OnlineOrderMapper">
  <resultMap id="BaseResultMap" type="com.gljr.jifen.pojo.OnlineOrder">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="uid" jdbcType="INTEGER" property="uid"/>
    <result column="pid" jdbcType="INTEGER" property="pid"/>
    <result column="si_id" jdbcType="INTEGER" property="siId"/>
    <result column="trx_id" jdbcType="INTEGER" property="trxId"/>
    <result column="trx_code" jdbcType="VARCHAR" property="trxCode"/>
    <result column="dtchain_block_id" jdbcType="VARCHAR" property="dtchainBlockId"/>
    <result column="ext_order_id" jdbcType="VARCHAR" property="extOrderId"/>
    <result column="integral" jdbcType="INTEGER" property="integral"/>
    <result column="quantity" jdbcType="INTEGER" property="quantity"/>
    <result column="user_address_id" jdbcType="INTEGER" property="userAddressId"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="("
                           separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="("
                           separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, pid, si_id, trx_id, trx_code, integral, quantity, user_address_id, status, create_time,
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.gljr.jifen.pojo.OnlineOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from online_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from online_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from online_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gljr.jifen.pojo.OnlineOrderExample">
    delete from online_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.gljr.jifen.pojo.OnlineOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into online_order (uid, pid, si_id, trx_id,
    trx_code, dtchain_block_id, ext_order_id, integral, quantity,
    user_address_id, status, create_time,
    update_time)
    values (#{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{siId,jdbcType=INTEGER}, #{trxId,jdbcType=INTEGER},
    #{trxCode,jdbcType=VARCHAR}, #{dtchainBlockId,jdbcType=VARCHAR}, #{extOrderId,jdbcType=VARCHAR},
    #{integral,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{userAddressId,jdbcType=INTEGER},
    #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gljr.jifen.pojo.OnlineOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into online_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="trxId != null">
        trx_id,
      </if>
      <if test="trxCode != null">
        trx_code,
      </if>
      <if test="dtchainBlockId != null">
        dtchain_block_id,
      </if>
      <if test="extOrderId != null">
        ext_order_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="userAddressId != null">
        user_address_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="trxId != null">
        #{trxId,jdbcType=INTEGER},
      </if>
      <if test="trxCode != null">
        #{trxCode,jdbcType=VARCHAR},
      </if>
      <if test="dtchainBlockId != null">
        #{dtchainBlockId,jdbcType=VARCHAR},
      </if>
      <if test="extOrderId != null">
        #{extOrderId,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="userAddressId != null">
        #{userAddressId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gljr.jifen.pojo.OnlineOrderExample" resultType="java.lang.Long">
    select count(*) from online_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update online_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.siId != null">
        si_id = #{record.siId,jdbcType=INTEGER},
      </if>
      <if test="record.trxId != null">
        trx_id = #{record.trxId,jdbcType=INTEGER},
      </if>
      <if test="record.trxCode != null">
        trx_code = #{record.trxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dtchainBlockId != null">
        dtchain_block_id = #{record.dtchainBlockId,jdbcType=VARCHAR},
      </if>
      <if test="record.extOrderId != null">
        ext_order_id = #{record.extOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.userAddressId != null">
        user_address_id = #{record.userAddressId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update online_order
    set id = #{record.id,jdbcType=INTEGER},
    uid = #{record.uid,jdbcType=INTEGER},
    pid = #{record.pid,jdbcType=INTEGER},
    si_id = #{record.siId,jdbcType=INTEGER},
    trx_id = #{record.trxId,jdbcType=INTEGER},
    trx_code = #{record.trxCode,jdbcType=VARCHAR},
    dtchain_block_id = #{dtchainBlockId,jdbcType=VARCHAR},
    ext_order_id = #{extOrderId,jdbcType=VARCHAR},
    integral = #{record.integral,jdbcType=INTEGER},
    quantity = #{record.quantity,jdbcType=INTEGER},
    user_address_id = #{record.userAddressId,jdbcType=INTEGER},
    status = #{record.status,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gljr.jifen.pojo.OnlineOrder">
    update online_order
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        si_id = #{siId,jdbcType=INTEGER},
      </if>
      <if test="trxId != null">
        trx_id = #{trxId,jdbcType=INTEGER},
      </if>
      <if test="trxCode != null">
        trx_code = #{trxCode,jdbcType=VARCHAR},
      </if>
      <if test="dtchainBlockId != null">
        dtchain_block_id = #{dtchainBlockId,jdbcType=VARCHAR},
      </if>
      <if test="extOrderId != null">
        ext_order_id = #{extOrderId,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="userAddressId != null">
        user_address_id = #{userAddressId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gljr.jifen.pojo.OnlineOrder">
    update online_order
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      si_id = #{siId,jdbcType=INTEGER},
      trx_id = #{trxId,jdbcType=INTEGER},
      trx_code = #{trxCode,jdbcType=VARCHAR},
      dtchain_block_id = #{dtchainBlockId,jdbcType=VARCHAR},
      ext_order_id = #{extOrderId,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      user_address_id = #{userAddressId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>