<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--使用注解来进行请求映射-->


    <mvc:annotation-driven/>

    <mvc:resources location="/WEB-INF/static" mapping="/**"/>


    <mvc:cors>
        <mvc:mapping path="/**"/>
    </mvc:cors>

    <!--<mvc:cors>-->

    <!--<mvc:mapping path="/**"-->
    <!--allowed-origins="http://127.0.0.1, http://localhost, http://localhost:808"-->
    <!--allowed-methods="GET, PUT, DELETE, OPTIONS"-->
    <!--allowed-headers="header1, header2, header3"-->
    <!--exposed-headers="header1, header2" allow-credentials="false"-->
    <!--max-age="3600" />-->

    <!--</mvc:cors>-->


    <!-- 扫描所有控制器-->
    <context:component-scan base-package="com.gljr.jifen.controller"></context:component-scan>


    <!-- 将自定义的swagger配置类加载到spring容器 -->
    <bean class="com.gljr.jifen.common.SwaggerConfig"/>


    <!-- 注解的映射器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>


    <!-- 上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 最大内存大小 -->
        <property name="maxInMemorySize" value="10240"/>
        <!-- 最大文件大小，-1为不限制大小 -->
        <property name="maxUploadSize" value="5000000"/>
    </bean>


    <mvc:interceptors>

        <mvc:interceptor>
            <mvc:mapping path="/v1/**"/>
            <mvc:exclude-mapping path="/v1/manager/admins/logout"/>
            <mvc:exclude-mapping path="/v1/manager/admins/login"/>
            <mvc:exclude-mapping path="/v1/stores/manager/login"/>
            <mvc:exclude-mapping path="/v1/stores/manager/logout"/>
            <mvc:exclude-mapping path="/v1/store/manager/login"/>
            <mvc:exclude-mapping path="/v1/store/manager/logout"/>
            <mvc:exclude-mapping path="/v1/manager/admins/pwd"/>

            <mvc:exclude-mapping path="/**/uploadFiles"/>
            <bean class="com.gljr.jifen.filter.TokenIntecepter"></bean>
        </mvc:interceptor>


        <mvc:interceptor>
            <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->
            <mvc:mapping path="/v1/**"/>
            <!-- /register 和 /login 不需要拦截-->
            <mvc:exclude-mapping path="/v1/manager/admins/logout"/>
            <mvc:exclude-mapping path="/v1/manager/admins/login"/>
            <mvc:exclude-mapping path="/v1/stores/manager/login"/>
            <mvc:exclude-mapping path="/v1/stores/manager/logout"/>
            <mvc:exclude-mapping path="/v1/store/manager/login"/>
            <mvc:exclude-mapping path="/v1/store/manager/logout"/>
            <mvc:exclude-mapping path="/v1/manager/admins/pwd"/>
            <mvc:exclude-mapping path="/**/uploadFiles"/>
            <bean class="com.gljr.jifen.filter.AuthInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>